input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px;
    background-color: #ccc;
    color: teal;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
